.row-content {
  padding: 30px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.jumbotron {
  margin: 0;
  padding: 30px;
}

h1 {
  color : white;
}

.navbar-nav {
  margin-left : auto;
}

.carousel-caption h4 {
  color : #E9ECEF;
}

.carousel-caption p {
  color : #E9ECEF;
}

.carousel-item img {
  width: 680px;
  height: 500px;
  max-height: 500px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

p {
  font-family : American Typewriter, serif;
}

ol {
  color : black;
}

ol li h7{
  color : #FE3636;
}
ol li {
  color : gray;
}

h1, h2, h3 {
  font-family: "Lobster", cursive; 
}

h4, h6 {
  color: #F45656;
}

body {
  background-color: #E5E5E5;
}

footer {
  background-color : #343A40;
  color : white;
}

#feedbackModal .modal-header {
  color : black;
}

#nav-tabContent img {
  height:100%;
  width:100%;
}

#ranks {
  font-family : Bradley Hand, cursive;
}
#info {
  font-family : Apple Chancery, cursive;
  font-size : 20px;
}

.list-group .list-group-item {
  background-color: #343A40;
  color : white;
  border-bottom-color : white;
}

.list-group .list-group-item:hover {
  background-color: pink;
}